:local(.widget)
{
        background: #fff;
        border: 1px solid #ccc;
        margin: 0 25px -1px 15px;
        -webkit-box-shadow: 3px 3px 5px 0 rgba(189,189,189,1);
        -moz-box-shadow: 3px 3px 5px 0 rgba(189,189,189,1);
        box-shadow: 3px 3px 5px 0 rgba(189,189,189,1);;

        margin: 20px -10px 8px -10px;
        padding: 0 0 20px 0;
        -webkit-transition: margin-top .2s linear;
        -moz-transition: margin-top .2s linear;
        -o-transition: margin-top .2s linear;
        transition: margin-top .2s linear;
}
:local(.header)
{
        font-size: 20px;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 10px;
        border-bottom: 1px solid #ccc;
        cursor: pointer;
        display:flex;
}
:local(.tabs)>div:first-child {
  background-color:#efefef !important
}
:local(.selectedTab) {
  color: #333 !important;
}
:local(.unselectedTab){
  color: #777 !important;
}
