:local(.widget){
  padding-bottom: 20px;
}
:local(.widget)  p {
  margin-top: 10px;
  padding-bottom:10px;
}
:local(.type){
  clear:left;
  color:#888;
}
:local(.typeIcon){
  width:20%;
  float:left;
  text-align: center
}
:local(.typeIconText){
  width:80%;
  float:left;
}
:local(.typeIconText) h3{
  margin-top:5px;
}
.selected {
  color:#000;
}
