:local(.widget) h1
{
  margin: 10px 0 0 0;
  font-size: 24px;
  color:#311b92;
  font-weight: normal;
}
:local(.lb )
{
  font-weight: normal;
  color:#777;
}
:local(.widget) h2
{
  margin: 0px 0 10px 0;
  font-size:16px;
}
:local(.widget) {
  margin-bottom: 20px;
}
