:local(.icon) {
	width: 50px;
}
:local(.icon)i {

}
:local(.icon) i.fa-check
{
	    color: #249c49;
}
:local(.icon) i.glyphicon-unchecked
{
	    color: #bbb;
}
:local(.icon) i.fa-clock-o
{
	    color: #bbb;
}
