:local(.statusBar) {
    font-size: .85em;
    border-left: 6px solid rgba(0,0,0,.15) !important;
    border-left-width: 6px;
    border-left-style: solid;
    border-left-color: rgba(0,0,0,.14902);
    position: relative;
    margin-left: 10px;
    padding: 3px 0 2px 3px;
    margin-top: 8px;
    margin-bottom: 8px;
}
:local(.title) {
    padding: 3px 15px 2px 3px;
    display: inline-block;
    line-height: 16px;
    font-weight: 700;
    font-size: 11px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: calc(100% - 10px);
}
:local(.notStarted) {
    background-color: #eee;
    color: #777;
}
:local(.approved) {
    background-color: #287D3D;
    color: #FFF;
}
:local(.waiting) {
    background-color: #d6dde7;
    color: #305d8c;
}

:local(.statusBarSpan1) {
    width: calc(100% - 20px);
    opacity: 0.95;
    min-height:35px;
}
:local(.statusBarSpan2)  {
    width: calc(200% - 19px);
    opacity: 0.95;
    min-height:35px;
}
:local(.statusBarSpan3)  {
    width: calc(300% - 18px);
    opacity: 0.95;
    min-height:35px;
}
:local(.statusBarSpan4) {
    width: calc(400% - 17px);
    opacity: 0.95;
    min-height:35px;
}
:local(.statusBar) i {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    font-size: 14px;
    margin-top: 4px;
    margin-right: 4px;
}
:local(.span4) {
   width: calc(400% + 42px );   
}
